* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  list-style-type: none;

  li {
    margin: 0px;

    a {
      padding: 5px 10px;
      text-align: center;
      font-size: 0.75rem;
    }
  }
}

.nav-link,
.logo,
#dobrodosli {
  visibility: hidden;
}

.member-social,
.scrollToTopBx {
  a {
    .tooltiptext {
      pointer-events: none;
      width: 90px;
      background-color: rgba(255, 255, 255, 0.8);
      color: #000;
      font-size: 0.9rem;
      text-align: center;
      border-radius: 6px;
      padding: 3px 0;
      position: absolute;
      z-index: 1;
      bottom: 100%;
      left: 50%;
      margin-left: -45px;
      opacity: 0;
      transform: scale(0.7);
      transition: opacity 0.3s, transform 0.3s;

      &::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: rgba(255, 255, 255, 0.8) transparent transparent transparent;
      }
    }

    &:hover .tooltiptext {
      visibility: visible;
      opacity: 1;
      transform: scale(1);
      transition: opacity 0.5s, transform 0.5s;
    }
  }
}

.scrollToTopBx .tooltiptext {
  margin-bottom: 10px;
}
